
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Prociono&display=swap');


/*Reseteamos los margenes que vienen predefinidos*/
*{
    font-family: "Playwrite GB S", cursive;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    }

h1{
    font-size: 3rem;
    text-align: center; /*esta prop es para centrar el contenido de las etiquetas*/
    padding-top: 20%;
}
h2{
    font-size: 2rem;
    text-align: center;
}
h2
/*Acá estamos utilizando un tamaño de fuente específico para esta clase*/
.fuente50px
{
    font-size: 55px;
}
h3{
    font-size: 30px;
}

/*Acá estamos editando los colores del contenido de cada sección*/

.colorPrincipal
{
    background-color: rgba(209, 123, 24, 0.801);
    color: white;
      /*De esta forma las anclas dentro del footer se ponen blancas y le quitamos el subrayado*/
      a{
        color: white;
        text-decoration:none;
    }
}

.colorSecundario
{
    background-color: #114753;
    color: white;
      /*De esta forma las anclas dentro del footer se ponen blancas y le quitamos el subrayado*/
      a{
        color: white;
        text-decoration:none;
    }
}
/*NAVEGACION EN EL HEADER*/
.header
{
    justify-content: space-between;
    align-items: center;
    position: sticky; /*De esta forma el header nos acompaña*/
    top: 0;
    z-index:1000; /*De esta forma le damos prioridad frente a otros elementos y no se sobrepisa al mover*/
    nav{
        width:50%;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            li{
            a{
                text-decoration: none;
                color: black;
                font-size:45px;
            }

            }
           
    }
}
    };


.footer{
    display: flex;
    width: 100%;
    background-color: #333;
    height: 40vh;
}
   
/*FOOTER CON FLEX*/
.itemsFooter
{
    display:flex;
    margin: 0 auto;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-align: justify;
    font-size: 30px;
    color: black;
    a{
       color: black;
    }

    gap: 50px; 
}

header,footer
{
    display:flex;
    padding: 10px;
    background-color: rgb(168, 95, 224);
    display:flex;
    img{
        width: 200px;
        border-radius: 50%;
    }
     /*De esta forma las listas dentro del footer no tienen circulitos*/
    ul{
        list-style:none;
    }
    p
    {
        font-size: 15px;
    }
    /*Acá cambiamos los colores y tamaños de los íconos*/
    .fa-whatsapp
    {
        color: #25d366;
        font-size: 64px;
        position: fixed; /*De esta forma hacemos que el icono nos acompañe, es necesario indicar EL LUGAR*/
        bottom: 20px;
        right:20px;
    }
    .fa-instagram
    {
        color: violet;
        font-size: 64px;
    }
}

/* De esta forma aplicamos un tipo de selector clasificador, solo a unos textos específicos*/

.fuenteNegrita
{
    font-weight: 700;
}


/* De esta forma cambiamos el tamaño de la fuente*/

.tamanioTreinta{
    font-size: 30px;
}

/* De esta forma agregamos la imagen ppal en el index*/
.sectionIndexPrincipal
{
    background-image: url("../assets/img/galeria_4.jpeg") ;
    height: 70vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    a{
        color: white; 
        text-decoration: none;
    }
    .contenedorTextoPrincipalIndex{
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        width: 40%;
        p{
            font-size: 1.5rem;
        }
        a{
            display: inline-block;
            margin-top: 20px;
        }
    }
}

/*De esta forma hacemos el menú de mis cursos*/
.cursosDestacados {
    margin: 0 auto;
    width:100%;
    display: flex;
    background-color: rgb(229, 164, 203);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    height: 50vh;

    gap: 50px; /* Agrega un espacio entre cada elemento */
}

.tituloCursos
{
    padding: 100px;
}

.cursosDestacados .flex-item img {
    width: 350px;
    border-radius: 10px;
}

.sobreMi{
    img{
        width: 600px;
        border-radius: 60%;
    };
}



/*GALERIA*/

.galeria {
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se envuelvan en filas */
    gap: 30px; /* Espacio entre los elementos */
    justify-content: space-evenly; /* Distribuye los elementos de manera uniforme */
    background-color: antiquewhite;
}

.galeria .item {
    text-align: center;
    width: 550px; /* Ajusta el ancho de cada item */
    height: 550px; /* Ajusta la altura de cada item */
    border: 1px solid gray;
    color: black;
}

.galeria .item img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

